<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443516906551-bj5n56apuuiqp7jkcne010uq9om2p6ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443516906551-bj5n56apuuiqp7jkcne010uq9om2p6ud</string>
	<key>API_KEY</key>
	<string>AIzaSyAWc2TUwV_Ij3rKWvVqQELa1COUZfhSbZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443516906551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFcm</string>
	<key>PROJECT_ID</key>
	<string>fir-fcm-b44e3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fcm-b44e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443516906551:ios:9a617894c4c03e1f0623b2</string>
</dict>
</plist>